#titulo1{
    background-color: #002f87;
    width: 1500px;
    padding: 30px;
    margin-top: 0px;
    font-family: "arial"; 
  
  color: white;
}
body{
    margin: 0px;
}
h2 {
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  font-family: "arial"; 
}
p {
     width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: "arial"; 
}
p{
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  font-family: "arial"; 
  text-align: justify;
}
ul{
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  font-family: "arial"; 
}
button{
   display: block; 
  width: fit-content; 
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  background-color: #002f87;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center; 
  font-family: "arial"; 
}



